body {
  line-height: normal;
}

#weather-app {
  width: 100%;
  height: 100vh;
  padding: 5rem 7rem;
}

#weather {
  height: 100%;
}

.temperature {
  position: relative;
}

.temperature .degree {
  position: absolute;
}

.location {
  font-weight: bold;
  font-size: 3rem;
}

.weather-date {
  color: #909090;
}

.weather-details {
  gap: 3rem;
}

.weather-details .detail {
  justify-content: center;
  align-items: center;
}

.weather-details .detail svg {
  width: 30px;
  height: 30px;
}

.icon-btn {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.icon-btn:hover {
  color: white;
}

.mantine-Drawer-content {
  padding: 2.5rem;
}

.searchbox-search-btn {
  width: 50px;
  height: 50px;
}

.location-item {
  cursor: pointer;
  padding: 1rem;
}

.location-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.icon {
  width: 24px;
  height: 24px;
}

.icon svg {
  width: 24px;
}
